{
  "parser": "@typescript-eslint/parser",
  "extends": ["plugin:@typescript-eslint/recommended"],
  "parserOptions": {
    "ecmaVersion": 2018,
    "sourceType": "module"
  },
  "rules": {
    "indent": ["error", 2],
    "linebreak-style": ["error", "windows"],
    "quotes": ["error", "single"],
    "semi": ["error", "always"],
    "object-shorthand": ["warn", "always"],
    "eol-last": ["warn", "always"],
    "no-trailing-spaces": ["warn", { "ignoreComments": true }],
    "no-console": "warn",
    "prefer-destructuring": ["warn", { "object": true, "array": false }],
    "@typescript-eslint/no-inferrable-types": ["warn", { "ignoreParameters": true }],
    "@typescript-eslint/no-unused-vars": ["warn", { "argsIgnorePattern": "^_" }],
    "@typescript-eslint/interface-name-prefix": { "prefixWithI": "always" },
    "@typescript-eslint/no-this-alias": "off",
    "@typescript-eslint/no-explicit-any": "off"
  }
}
